@media (max-width: 1440px) {
  .direction {
    top: 52pc;
  }

  .txt2 p {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .nav {
    margin: 0 35px;
  }

  .copy-icon span {
    width: 4%;
  }

  .nav-links {
    width: 64%;
  }

  .slider {
    height: 70vh;
  }

  .prod-card {
    flex: 0 7 auto;
    padding: 10px;
    height: 451px;
    min-width: 30%;
    margin: 16px;
  }

  .product_section {
    margin: 0;
    padding-top: 18px;
    height: 42pc;
  }

  .product-text {
    padding: 24px;
  }

  .txt2 h3 {
    font-size: 16px;
  }

  .txt2 p {
    color: grey;
    font-size: 14px;
    width: 100%;
  }

  .spotCard-cont {
    width: 86%;
    gap: 18px;
  }

  .spotcard-img {
    width: 47%;
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 29pc;
  }

  .footer-links h3 {
    place-self: center;
  }

  .footer-links {
    width: 40%;
  }

  .app-icon {
    width: 23pc;
  }

  #cont1 {
    width: 61%;
  }
}

@media (max-width: 850px) {
  .slider {
    height: 56vh;
  }

  .prod-card {
    height: 463px;
    margin: 14px;
  }

  .txt2 p {
    font-size: 13px;
    margin-top: 40px;
  }

  .txt2 h3 {
    position: absolute;
    width: 100%;
  }
}

@media (max-width: 450px) {
  .products-card {
    transform: translateY(89px);
  }

    .nav-links ul {
        display: grid;
        height: 86vh;
        font-size: 26px;
        padding: 24px;
    }

  .nav-links {
    position: absolute;
    background: black;
    color: white;
    top: 77px;
    width: 40rem;
    height: 107vh;
    /* right: -43px; */
    padding: 18px;
    z-index: 4;
    transform: scaleX(6) translateX(706px);
    transition: 0.6s;
    left: -14px;
  }

  .nav-links.active {
    transform: scaleX(1) skewX(0deg) translateX(0px);
    transition: 1s;
  }

  .nav-font-awe {
    display: none;
  }

  .bars {
    display: block;
  }

  .header.active {
    background: black;
    filter: blur(0px);
    transition: 0.4s;
    width: 33pc;
  }

  .nav-links ul li a::after {
    background: linear-gradient(to right, #ffffff, #ffffff);
  }

  .nav {
    margin: 0 14px;
  }

  #font1 {
    display: block;
  }

  .nav-links ul li a {
    display: flex;
    align-items: center;
    gap: 17px;
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr;
    height: 54pc;
  }

  .footer-ul,
  .h3 {
    justify-content: left;
  }

  .footer-links h3 {
    place-self: inherit;
  }

  .app-icon {
    width: 20pc;
  }

  .app-iconCont {
    width: 48%;
  }

  .banner-font {
    font-size: 31px;
  }

  .app-icon p {
    font-size: 15px;
  }

  .copy-right {
    padding: 51px 8px;
  }

  .product-cards {
    display: grid;
    transform: none;
    place-items: center;
  }

  .banner-text1 {
    width: 100%;
    font-size: 44px;
  }

  .banner-text2 {
    font-size: 18px;
  }

  .banner-fontCont {
    width: 37%;
    font-size: 16px;
  }

  .slide img {
    width: 94%;
    height: 89%;
  }

  .slider {
    height: 76vh;
  }

  .direction {
    display: none;
  }

  .banner2-cont {
    font-size: 15px;
  }

  .card {
    margin: 13px;
  }

  .product_section {
    height: 100%;
    padding-bottom: 30px;
  }

  .prod-card {
    min-width: 85%;
  }

  .txt2 h3 {
    font-size: 19px;
  }

  .txt2 p {
    font-size: 18px;
  }

  .fa-champagne-glasses,
  .fa-phone,
  .fa-cloud-arrow-down,
  .fa-briefcase,
  .fa-users {
    font-size: 20px;
  }

  .prod-font,
  .prod-fonts,
  .prod-font2,
  .prod-fonts1,
  .prod-fonts3 {
    height: 37px;
    width: 37px;
    padding: 16px;
  }

  .product-dots {
    display: none;
  }

  .copy-icon span {
    width: 7%;
  }

  .text {
    font-size: 13px;
  }

  .background-img {
    height: 561px;
  }

  .background-text1 h1 {
    font-size: 26px;
  }

  .background-text {
    height: 561px;
  }

  .spotCard-cont {
    display: grid;
    width: 100%;
  }
  .spotcard-text {
    color: #333;
    width: 100%;
    padding: 15px;
  }

  .spotcard-img {
    width: 100%;
    height: 401px;
  }

  .spotcard-text h2 {
    font-size: 27px;
  }

  .spotcard-text h4 {
    margin-top: 6px;
    font-size: 18px;
  }

  .spotcard-text p {
    margin-top: 32px;
    font-size: 18px;
  }
}

@media (max-width: 400px) {
  .banner-fontCont {
    width: 41%;
    font-size: 16px;
  }
}

@media (max-width: 380px) {
  .banner-font {
    font-size: 26px;
  }

  .banner-text1 {
    font-size: 40px;
  }

  .banner-text2 {
    font-size: 15px;
  }

  .spotcard-text p {
    font-size: 16px;
  }

  .spotcard-text h4 {
    font-size: 16px;
  }

  .background-text1 h1 {
    font-size: 22px;
  }

  #font {
    font-size: 22px;
    width: 35px;
    height: 35px;
  }

  .copy-icon span {
    width: 9%;
  }

  .prod-card {
    height: 480px;
    margin: 14px;
  }

  .app {
    position: relative;
    right: 13px;
  }
}

@media (max-width: 330px) {
  .banner-fontCont {
    width: 42%;
  }

  .banner-text1 {
    width: 100%;
    font-size: 41px;
  }

  .banner-text2 {
    font-size: 17px;
  }

  .banner2-cont {
    font-size: 14px;
  }

  .spotcard-text h4 {
    margin-top: 6px;
    font-size: 17px;
  }

  .spotcard-text p {
    margin-top: 30px;
    font-size: 17px;
  }

  .background-text1 h1 {
    font-size: 24px;
  }

  .copy-icon span {
    width: 9%;
  }

  .slider {
    height: 100vh;
  }

  .slide {
    height: 36pc;
  }
}
