@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 56%;
    font-size: 16px;
  }
}

@media screen and (max-width: 900px) {
  .slider {
    height: 100%;
  }

  .cards:hover {
    animation-play-state: running;
  }

  .prod-card {
    height: 441px;
    width: 33%;
    margin: 10px;
  }

  .product-dots {
    margin-top: 21px;
  }

  .txt2 p {
    width: 97%;
  }

  .spotCard-cont {
    width: 94%;
  }

  .background-img {
    height: 617px;
  }

  .background-text {
    height: 617px;
  }

  .footer {
    display: grid;
    height: 37pc;
    grid-template-columns: auto auto auto;
  }

  .footer-links h3 {
    text-align: center;
  }

  .app-icon {
    width: 28pc;
    position: relative;
    top: 18px;
  }

  #cont1 {
    width: 50%;
  }

  .footer-links {
    width: 40%;
  }

  .copy-icon span {
    width: 3%;
  }
}

@media screen and (max-width: 768px) {
  .copy-icon span {
    width: 3%;
  }

  .nav-links {
    width: 67%;
    font-size: 15px;
  }

  .nav-text {
    font-size: 25px;
  }

  .font {
    font-size: 15px;
    width: 28px;
    height: 30px;
  }
}

@media screen and (max-width: 600px) {
  .font,
  .nav-font-awe {
    display: none;
  }

  .bars {
    display: block;
  }

  .header {
    transition: 1s;
  }

  .nav-links {
    position: absolute;
    background: black;
    color: white;
    top: 77px;
    width: 40rem;
    height: 107vh;
    /* right: -43px; */
    padding: 18px;
    z-index: 4;
    transform: scaleX(6) translateX(-706px);
    transition: 0.6s;
    left: -14px;
  }

  .nav-links.active {
    transform: scaleX(1) skewX(0deg) translateX(0px);
    transition: 1s;
  }

  .nav-links ul li a {
    display: flex;
    align-items: center;
    gap: 17px;
  }

  .banner-text1 {
    font-size: 48px;
  }

  .cont {
    gap: 13px;
  }

  .banner-fontCont,
  .app-iconCont {
    width: 41%;
  }

  .header.active {
    background: black;
    filter: none;
    transition: 1s;
    z-index: -1;
    top: 0;
  }
  .slide img {
    width: 89%;
  }

  .body.active {
    overflow-y: clip;
  }

  .slide {
    height: 26pc;
  }

  .nav-links ul {
    display: grid;
    height: 86vh;
    font-size: 30px;
    padding: 29px;
  }

  .product-cards {
    display: grid;
  }

  #font1 {
    display: block;
  }

  .prod-card {
    height: 441px;
    width: 95%;
    margin: 10px;
  }

  .spotCard-cont {
    display: grid;
  }

  .product-dots {
    display: none;
    margin-top: 21px;
  }

  .spotcard-text {
    width: 100%;
    padding: 18px;
  }

  .background-text1 h1 {
    display: flex;
    text-align: center;
    margin-bottom: 25px;
  }

  .footer {
    display: grid;
    grid-template-columns: auto;
  }

  .spotCard-cont {
    width: 100%;
  }

  .spotcard-img {
    width: 100%;
    height: 485px;
    padding: 9px;
  }

  .chef-spotlight {
    padding: 20px;
  }

  .nav-links li a {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .footer {
    height: 55pc;
  }

  .footer-links h3 {
    text-align: left;
  }

  .footer-ul {
    justify-content: left;
  }

  .h3 {
    display: flex;
    justify-content: left;
  }

  .app-icon1 {
    gap: 15px;
  }

  .app-icon {
    width: 23pc;
  }

  .app-iconCont {
    width: 59%;
  }

  .copy-icon span {
    width: 9%;
  }
}
